@font-face {
  font-family: Helvetica Now Display;
  src: url('../fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Now Display;
  src: url('../fonts/HelveticaNowDisplay-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Now Display;
  src: url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --off-white: #ecedee;
  --black: #151515;
  --white: white;
  --steel: #41545a;
}

body {
  background-color: var(--off-white);
  color: var(--black);
  font-family: Helvetica Now Display, Arial, sans-serif;
  font-weight: 500;
  line-height: 1;
  font-size: var(--size-font);
}

h1 {
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-size: 7em;
  font-weight: 800;
  line-height: 0.9;
}

h2 {
  letter-spacing: -0.02em;
  font-size: 7em;
  font-weight: 800;
  line-height: 1.2;
}

.nav-logo {
  z-index: 999;
  position: fixed;
  inset: 1.5em auto auto 2em;
}

.is-logo {
  height: 1.5em;
}

.nav {
  z-index: 999;
  grid-column-gap: 1.688em;
  grid-row-gap: 1.688em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  align-items: stretch;
  display: flex;
  position: fixed;
  inset: 1.5em 0 auto auto;
}

.navlink {
  align-self: center;
  height: 100%;
}

.nav_list {
  grid-column-gap: 0.25em;
  grid-row-gap: 0.25em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
}

.nav_list_item {
  justify-content: flex-end;
  align-items: center;
  height: 1.5em;
  list-style-type: none;
  display: flex;
}

.section {
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

.section.section_hero {
  width: 100%;
  padding-top: 5em;
  padding-left: 0;
  padding-right: 0;
}

.section.main-img {
  z-index: 2;
  height: 100svh;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.section.section_about {
  grid-column-gap: 21.375em;
  grid-row-gap: 21.375em;
  background-color: var(--off-white);
  flex-flow: column;
  min-height: 100svh;
  padding: 0 0 50vh;
  display: flex;
}

.section.section_next {
  height: 200vh;
  min-height: 100svh;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.nav_indicator {
  background-color: var(--black);
  will-change: transform;
  width: 0.313em;
  height: 1.5em;
  position: absolute;
  inset: 0% 0% auto;
}

.navlink_label {
  height: 100%;
  font-size: 1.25em;
  display: block;
}

.h-w-h1 {
  margin-bottom: 9.75em;
}

.grid-12 {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.eyebrow {
  font-size: 1.25em;
  line-height: 0.9;
}

.grid {
  z-index: 999;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  pointer-events: none;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  display: none;
  position: fixed;
  inset: 0%;
}

.grid-column {
  background-color: #ff00001a;
  height: 100%;
}

.hero-img_img {
  z-index: 2;
  object-fit: cover;
  width: calc(100% + 5em);
  max-width: none;
  height: 100%;
  position: relative;
  left: 0;
}

.hero_content {
  width: 100%;
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  position: sticky;
  top: 5em;
}

.hero-img {
  width: 100%;
  height: 100svh;
  overflow: clip;
}

.intro {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.eyebrows {
  grid-column-gap: 0.375em;
  grid-row-gap: 0.375em;
  float: left;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 2.5em;
  display: flex;
}

.intro-eyebrow {
  border: 1px solid var(--black);
  border-radius: 0.25em;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2em 0.25em 0.23em;
  display: flex;
}

.intro-eyebrow.is-black {
  background-color: var(--black);
  color: var(--white);
}

.eyebrow-sm {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 0.9;
}

.intro_p {
  letter-spacing: -0.03em;
  margin-top: -0.15em;
  font-size: 3.5em;
}

.about-carousel {
  height: 200svh;
  overflow-x: clip;
}

.about_inner {
  background-color: var(--off-white);
  height: 100%;
  position: relative;
}

.about-item {
  width: 7.93em;
  height: 11.188em;
  position: absolute;
  overflow: clip;
}

.about-item.is-1 {
  top: 79%;
  left: -6%;
}

.about-item.is-2 {
  position: absolute;
  top: 30%;
  left: 4%;
}

.about-item.is-3 {
  top: -8%;
  left: 19%;
}

.about-item.is-4 {
  top: 66%;
  left: 20.25%;
}

.about-item.is-5 {
  top: 31%;
  left: 35%;
}

.about-item.is-6 {
  top: 86%;
  left: 48.5%;
}

.about-item.is-7 {
  top: -4%;
  left: 50%;
}

.about-item.is-8 {
  top: 54%;
  left: 71%;
}

.about-item.is-9 {
  top: 16%;
  left: 87.5%;
}

.about-item.is-10 {
  top: 70%;
  left: 89%;
}

.about-item.is-11 {
  top: 41%;
  left: 110%;
}

.about-item.is-12 {
  top: 10%;
  left: 130%;
}

.about-item.is-13 {
  top: 74%;
  left: 135%;
}

.about-item.is-14 {
  top: 31%;
  left: 151%;
}

.about-item.is-15 {
  top: -8%;
  left: 157%;
}

.about-item.is-16 {
  top: 86%;
  left: 170%;
}

.about-item.is-17 {
  top: 20%;
  left: 183%;
}

.about-item.is-18 {
  top: 60%;
  left: 200%;
}

.about-item_slider {
  height: 11.188em;
  display: flex;
  position: absolute;
}

.about-item_slider_slide {
  background-color: #e08787;
  width: 7.938em;
  height: 11.188em;
}

.about-item_slider_slide.slide-2 {
  background-color: #87a9e0;
}

.about-item_slider_slide.slide-3 {
  background-color: #87e090;
}

.about-item_inner {
  width: 7.93em;
  height: 11.188em;
  position: relative;
}

.grid-about {
  z-index: 999;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  pointer-events: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  display: none;
  position: fixed;
  inset: 0%;
}

.about-wrap {
  width: 100%;
  height: 100svh;
  position: sticky;
  top: 0;
}

.nav-indicator-wrapper {
  width: 0.313em;
  position: relative;
}

.about-img_big {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
}

.next-img {
  z-index: 1;
  width: 100%;
  height: 200vh;
  position: absolute;
}

.next-img_img {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
}

.about-img_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about_headings {
  z-index: 1;
  color: var(--white);
  mix-blend-mode: difference;
  height: 8.4em;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.about_headings_inner {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.about-heading {
  text-transform: uppercase;
}

.next-btn {
  z-index: 2;
  mix-blend-mode: exclusion;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0%;
}

.next-btn_btn {
  z-index: 3;
  flex-flow: column;
  display: flex;
  position: relative;
}

.next-btn_label {
  color: var(--white);
  white-space: nowrap;
  font-size: 2em;
  position: absolute;
  left: 0;
}

.next-btn_underline {
  background-color: var(--white);
  width: 100%;
  height: 2px;
}

.next-btn_label-wrap {
  width: 13.5em;
  height: 2.5em;
  position: relative;
  overflow: hidden;
}

.next-btn_img {
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
}

.net-btn_img-img {
  object-fit: cover;
  width: 110vw;
  max-width: none;
  height: 110vh;
}

.net-btn_img-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: clip;
}

@media screen and (max-width: 991px) {
  .grid,
  .grid-about {
    grid-row-gap: 0em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .grid,
  .grid-about {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 1em;
    padding-right: 1em;
  }
}

#w-node-_2053adf3-be1c-653b-5a24-439b5379eb0e-c038b157 {
  grid-area: span 1 / span 10 / span 1 / span 10;
}

#w-node-a64e248e-01b3-b59c-7911-4ab07362f7fc-c038b157 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_4ca02206-341f-dc3d-87f3-497abf268343-c038b157 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_1515b717-7f72-e47b-31c9-61ee3b47c73d-c038b157 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: end;
}

#w-node-a58f175a-5505-a419-5d45-799cdfed42e6-c038b157 {
  grid-area: span 1 / span 11 / span 1 / span 11;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
