@font-face {
  font-family: Helvetica Now Display;
  src: url('../fonts/HelveticaNowDisplay-Medium.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Now Display;
  src: url('../fonts/HelveticaNowDisplay-ExtraBold.woff2') format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Now Display;
  src: url('../fonts/HelveticaNowDisplay-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --off-white: #ecedee;
  --black: #151515;
  --steel: #41545a;
  --white: white;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

body {
  background-color: var(--off-white);
  color: var(--black);
  font-family: Helvetica Now Display, Arial, sans-serif;
  font-weight: 500;
  line-height: 1;
  font-size: var(--size-font);
}

h1 {
  letter-spacing: -.02em;
  text-transform: uppercase;
  font-size: 7em;
  font-weight: 800;
  line-height: .9;
}

h2 {
  letter-spacing: -.02em;
  text-transform: uppercase;
  font-size: 7em;
  font-weight: 800;
  line-height: 1.2;
}

h3 {
  letter-spacing: -.006em;
  font-size: 3em;
  font-weight: 500;
  line-height: .9;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.1;
}

.nav-logo {
  pointer-events: auto;
}

.is-logo {
  height: 1.5em;
}

.nav {
  grid-column-gap: 1.688em;
  grid-row-gap: 1.688em;
  pointer-events: auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  align-items: stretch;
  display: flex;
}

.navlink {
  align-self: center;
  height: 100%;
}

.nav_list {
  grid-column-gap: .25em;
  grid-row-gap: .25em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
}

.nav_list_item {
  justify-content: flex-end;
  align-items: center;
  height: 1.5em;
  list-style-type: none;
  display: flex;
}

.nav_list_item.is-menu {
  display: none;
}

.section {
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

.section.section_hero {
  background-color: var(--off-white);
  width: 100%;
  padding-top: 5em;
  padding-left: 0;
  padding-right: 0;
}

.section.main-img {
  z-index: 2;
  height: 100svh;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.section.section_about {
  grid-column-gap: 21.375em;
  grid-row-gap: 21.375em;
  background-color: var(--off-white);
  flex-flow: column;
  min-height: 100svh;
  padding: 0 0 0;
  display: flex;
}

.section.section_next {
  height: 200vh;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.section.section_certification {
  grid-column-gap: 15.75em;
  grid-row-gap: 15.75em;
  background-color: var(--steel);
  color: var(--white);
  flex-flow: column;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
}

.section.section_next-page {
  grid-column-gap: 15.75em;
  grid-row-gap: 15.75em;
  background-color: var(--steel);
  color: var(--white);
  flex-flow: column;
  height: 100svh;
  padding: 0;
  display: flex;
  position: relative;
}

.section.section_companies {
  grid-column-gap: 12em;
  grid-row-gap: 12em;
  background-color: var(--off-white);
  flex-flow: column;
  min-height: 100svh;
  padding: 0;
  display: flex;
}

.section.section_our-story {
  background-color: var(--off-white);
  height: 600vh;
  padding-left: 0;
  padding-right: 0;
}

.section.section_our-mission {
  background-color: var(--off-white);
  height: 300svh;
  padding-left: 0;
  padding-right: 0;
}

.section.section_social-impact {
  grid-column-gap: 21.375em;
  grid-row-gap: 21.375em;
  background-color: var(--off-white);
  flex-flow: column;
  min-height: 100svh;
  padding: 0 0 15.75em;
  display: flex;
}

.section.section_corporate {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 300svh;
  padding-top: 2em;
  padding-bottom: 11.25em;
  display: flex;
  position: relative;
}

.section.section_commitment {
  grid-column-gap: 21.375em;
  grid-row-gap: 21.375em;
  color: var(--off-white);
  background-color: #839ba3;
  flex-flow: column;
  min-height: 100svh;
  padding: 0;
  display: flex;
}

.section.section_philosophy {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  background-color: var(--off-white);
  flex-flow: column;
  min-height: 100svh;
  padding: 0 0 15.75em;
  display: flex;
}

.section.section_our-offer, .section.section_people {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  background-color: var(--off-white);
  flex-flow: column;
  padding: 0 0 15.75em;
  display: flex;
}

.section.section_contact {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  background-color: var(--steel);
  color: var(--white);
  flex-flow: column;
  padding: 0;
  display: flex;
}

.nav_indicator {
  background-color: var(--black);
  will-change: transform;
  width: .313em;
  height: 1.5em;
  position: absolute;
  inset: 0% 0% auto;
}

.navlink_label {
  height: 100%;
  font-size: 1.25em;
  display: block;
}

.h-w-h1 {
  margin-bottom: 9.75em;
}

.grid-12 {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.grid-12.rows-2 {
  grid-column-gap: 1em;
  grid-row-gap: 7.5em;
  grid-template-rows: auto auto;
}

.grid-12.is-alt {
  grid-row-gap: 7.5em;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  padding-left: 2em;
  padding-right: 2em;
}

.eyebrow {
  font-size: 1.25em;
  line-height: .9;
}

.grid {
  z-index: 999;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  pointer-events: none;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  display: none;
  position: fixed;
  inset: 0%;
}

.grid-column {
  background-color: #ff00001a;
  height: 100%;
}

.hero-img_img {
  z-index: 2;
  object-fit: cover;
  background-color: #0000;
  width: calc(100% + 5em);
  max-width: none;
  height: 100%;
  position: relative;
  left: 0;
}

.hero_content {
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  min-height: 27.5em;
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  position: sticky;
  top: 5em;
}

.hero-img {
  width: 100%;
  height: 100svh;
  overflow: clip;
}

.intro {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.intro.is-lightblue {
  color: #839ba3;
}

.intro.is-v {
  padding-left: 0;
}

.eyebrows {
  grid-column-gap: .375em;
  grid-row-gap: .375em;
  float: left;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 2.5em;
  display: flex;
}

.eyebrows.no-float {
  float: none;
}

.intro-eyebrow {
  border: 1px solid var(--black);
  border-radius: .25em;
  justify-content: flex-start;
  align-items: center;
  padding: .2em .25em .23em;
  display: flex;
}

.intro-eyebrow.is-black {
  background-color: var(--black);
  color: var(--white);
}

.intro-eyebrow.is-white {
  border-color: var(--off-white);
  background-color: var(--off-white);
  color: var(--steel);
}

.intro-eyebrow.is-lightblue {
  border-color: var(--off-white);
  background-color: var(--off-white);
  color: #839ba3;
}

.eyebrow-sm {
  text-transform: uppercase;
  font-size: .75em;
  font-weight: 700;
  line-height: .9;
}

.intro_p {
  letter-spacing: -.0056em;
  margin-top: -.15em;
  font-size: 3.5em;
}

.about-carousel {
  height: 200svh;
  overflow-x: clip;
}

.about_inner {
  background-color: var(--off-white);
  height: 100%;
  position: relative;
}

.about-item {
  width: 7.93em;
  height: 11.188em;
  position: absolute;
  overflow: clip;
}

.about-item.is-1 {
  top: 79%;
  left: -6%;
}

.about-item.is-2 {
  position: absolute;
  top: 30%;
  left: 4%;
}

.about-item.is-3 {
  top: -8%;
  left: 19%;
}

.about-item.is-4 {
  top: 66%;
  left: 20.25%;
}

.about-item.is-5 {
  top: 31%;
  left: 35%;
}

.about-item.is-6 {
  top: 86%;
  left: 48.5%;
}

.about-item.is-7 {
  top: -4%;
  left: 50%;
}

.about-item.is-8 {
  top: 54%;
  left: 71%;
}

.about-item.is-9 {
  top: 16%;
  left: 87.5%;
}

.about-item.is-10 {
  top: 70%;
  left: 89%;
}

.about-item.is-11 {
  top: 41%;
  left: 110%;
}

.about-item.is-12 {
  top: 10%;
  left: 130%;
}

.about-item.is-13 {
  top: 74%;
  left: 135%;
}

.about-item.is-14 {
  top: 31%;
  left: 151%;
}

.about-item.is-15 {
  top: -8%;
  left: 157%;
}

.about-item.is-16 {
  top: 86%;
  left: 170%;
}

.about-item.is-17 {
  top: 20%;
  left: 183%;
}

.about-item.is-18 {
  top: 60%;
  left: 200%;
}

.about-item_slider {
  height: 11.188em;
  display: flex;
  position: absolute;
}

.about-item_slider_slide {
  background-color: #e08787;
  width: 7.938em;
  height: 11.188em;
}

.about-item_slider_slide.slide-2 {
  background-color: #87a9e0;
}

.about-item_slider_slide.slide-3 {
  background-color: #87e090;
}

.about-item_inner {
  width: 7.93em;
  height: 11.188em;
  position: relative;
}

.grid-about {
  z-index: 999;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  pointer-events: none;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  display: none;
  position: fixed;
  inset: 0%;
}

.about-wrap {
  width: 100%;
  height: 100svh;
  position: sticky;
  top: 0;
}

.nav-indicator-wrapper {
  width: .313em;
  position: relative;
}

.about-img_big {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
}

.next-img {
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200vh;
  display: flex;
  position: absolute;
}

.next-img_img {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
}

.about-img_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about_headings {
  z-index: 1;
  color: var(--white);
  mix-blend-mode: difference;
  height: 8.4em;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.about_headings_inner {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.about-heading {
  text-transform: uppercase;
}

.next-btn {
  z-index: 2;
  mix-blend-mode: difference;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0%;
}

.next-btn_btn {
  z-index: 1;
  mix-blend-mode: exclusion;
  flex-flow: column;
  display: flex;
  position: relative;
}

.next-btn_label {
  color: var(--white);
  white-space: nowrap;
  font-size: 2em;
  position: absolute;
  left: 0;
}

.next-btn_underline-wrap {
  display: flex;
}

.next-btn_underline {
  background-color: var(--white);
  width: 100%;
  height: 2px;
}

.next-btn_label-wrap {
  width: 13.5em;
  height: 2.5em;
  position: relative;
  overflow: hidden;
}

.next-btn_img {
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
}

.next-btn_img-img {
  object-fit: cover;
  width: 110vw;
  max-width: none;
  height: 110vh;
}

.next-btn_img-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: clip;
}

.certification-img {
  z-index: 1;
  aspect-ratio: 600 / 971;
  position: relative;
}

.certification-img_img {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
}

.next-page_inner {
  width: 100%;
  height: 100%;
}

.next-page_inner_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.next-page_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next-page_btn_btn {
  z-index: 1;
  grid-column-gap: .2em;
  grid-row-gap: .2em;
  mix-blend-mode: exclusion;
  flex-flow: column;
  display: flex;
  position: relative;
}

.next-page_btn_btn_label-wrap {
  height: 2.4em;
  overflow: hidden;
}

.next-page_btn_btn_label {
  color: var(--white);
  white-space: nowrap;
  font-size: 2em;
}

.footer-p {
  opacity: .6;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.4;
}

.is-eyebrow {
  border: 1px solid #151515;
  border-radius: .25em;
  justify-content: center;
  align-items: center;
  padding: .18em .25em;
  display: flex;
}

.footer_left {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-flow: column;
  display: flex;
}

.social-logo {
  width: 2.8em;
}

.social-logo.is-footer {
  width: 1.5em;
}

.footer_right {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: space-between;
  display: flex;
}

.footer-bottom {
  border-top: 1px solid #15151580;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
}

.footer-links {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  flex-flow: column;
  display: flex;
}

.footer_logo {
  width: 9em;
}

.eyebrow-s {
  text-transform: uppercase;
  font-size: .75em;
  font-weight: 700;
  line-height: .9;
}

.footer {
  grid-column-gap: 12em;
  grid-row-gap: 12em;
  background-color: #fff;
  flex-flow: column;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  overflow: hidden;
}

.footer-links_col {
  grid-column-gap: .75em;
  grid-row-gap: .75em;
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer_socials {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  display: flex;
}

.footer_social-link {
  grid-column-gap: .8em;
  grid-row-gap: .8em;
  color: #2fa6bd;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  display: flex;
}

.footer-link {
  opacity: .6;
  font-size: 1em;
  font-weight: 500;
}

.footer-inner {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  display: grid;
}

.footer-logo {
  width: 11em;
}

.sticky-paragraph {
  position: sticky;
  top: 48%;
}

.sticky-mask-wrap {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.sticky_inner {
  position: relative;
}

.sticky-mask {
  justify-content: space-between;
  align-items: flex-start;
  width: 110%;
  height: 1.7em;
  display: flex;
}

.sticky_gradient {
  background-image: linear-gradient(90deg, #41545a00, #41545a);
  width: 1.5em;
  height: 100%;
}

.sticky_fill {
  background-color: var(--steel);
  opacity: .85;
  flex: 1;
  height: 100%;
}

.companies {
  padding-left: 2em;
  padding-right: 2em;
}

.companies_item {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  cursor: pointer;
  flex-flow: column;
  height: 19.375em;
  padding-bottom: 1em;
  display: flex;
  position: relative;
}

.item-eyebrow {
  border: 1px solid var(--black);
  opacity: .5;
  border-radius: .25em;
  justify-content: flex-start;
  align-items: center;
  padding: .24em .25em .21em;
  display: flex;
}

.item-eyebrow.is-black {
  background-color: var(--black);
  color: var(--white);
}

.item-eyebrow.is-white {
  border-color: var(--off-white);
  background-color: var(--off-white);
  color: var(--steel);
}

.companies_item-content {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.is-subtitle {
  opacity: .5;
  font-size: 1em;
}

.companies_item-images {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.item-image {
  width: 6.25em;
  height: 9.188em;
}

.item-image_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-image_img.is-active {
  opacity: 1;
}

.item-link {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.item-link_link {
  font-size: 1em;
  display: block;
}

.item_arrow {
  width: 1em;
  height: 1em;
}

.item_title {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  margin-top: -.35em;
}

.item-description {
  height: 0;
  overflow: hidden;
}

.item_description {
  font-size: .75em;
}

.item-bottom {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.companies-img-wrapper {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  height: 9.188em;
  position: relative;
  overflow: hidden;
}

.companies_item-images-small {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  display: flex;
  position: absolute;
  inset: 34em 0% auto;
}

.item-image-sm {
  opacity: .5;
  width: 3em;
  height: 3em;
}

.item-box, .companies_s-list-wrapper {
  width: 100%;
  height: 100%;
}

.companies_s-list {
  width: 100%;
  height: 100%;
  position: relative;
}

.companies_s-item {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.item-image_img-s {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.item-separator {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
}

.separator {
  background-color: var(--black);
  opacity: .5;
  width: 100%;
  height: 100%;
  position: relative;
}

.separator.is-2 {
  opacity: 1;
  width: 0%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.our-story {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100svh;
  padding: 3em 2em;
  display: flex;
  position: sticky;
  top: 0;
}

.our-story_content {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  width: 100%;
  display: grid;
}

.counter-number {
  font-size: 7em;
  font-weight: 800;
  line-height: .9;
}

.counter-left, .counter-right {
  height: 6.4em;
  overflow: hidden;
}

.counter-percent {
  margin-top: .25em;
  margin-left: -.25em;
  font-size: 2em;
  font-weight: 800;
  line-height: .9;
}

.our-story_content_left, .our-story_content_right {
  justify-content: center;
  align-items: center;
  padding-left: 3.8em;
  padding-right: 3.8em;
  display: flex;
}

.our-story_content_center {
  position: relative;
}

.p-small {
  font-size: 1em;
}

.our-story_image-1 {
  aspect-ratio: 600 / 973;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
}

.counter-left_slider {
  justify-content: flex-start;
  align-items: flex-end;
}

.counter-right_slider {
  justify-content: flex-start;
  align-items: flex-start;
}

.our-story_image-2 {
  z-index: 2;
  aspect-ratio: 600 / 973;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%)scale(0);
}

.l-h-90 {
  line-height: .9;
}

.counter-center {
  height: 6.4em;
  overflow: hidden;
}

.counter-center_slider {
  justify-content: flex-start;
  align-items: flex-end;
}

.our-story_image-3, .our-story_image-4 {
  z-index: 2;
  aspect-ratio: 600 / 973;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%)scale(0);
}

.our-mission {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100svh;
  padding: 0;
  display: flex;
  position: sticky;
  top: 0;
}

.our-mission_content {
  width: 100%;
  height: 100%;
  position: relative;
}

.our-mission_left {
  z-index: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  inset: 0% auto 0% 0%;
  overflow: hidden;
}

.our-mission_right {
  z-index: 0;
  background-color: var(--steel);
  color: var(--off-white);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding: 2em 2em 2.5em;
  display: flex;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.our-mission_left_img {
  object-fit: cover;
  width: 120%;
  max-width: none;
  height: 100%;
}

.is-lh-75 {
  line-height: .75;
}

.is-dimmed-blue {
  color: #b3cdd6;
}

.is-dimmed-blue.is-lh-120 {
  letter-spacing: -.0125em;
  line-height: 1.2;
}

.our-mission_top {
  z-index: 1;
  background-color: var(--steel);
  color: var(--off-white);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding: 0;
  display: flex;
  position: absolute;
  inset: 0% 0% 0% auto;
  overflow: hidden;
}

.our-mission_top-2 {
  z-index: 1;
  background-color: var(--steel);
  color: var(--off-white);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding: 2em 2em 2.5em;
  display: flex;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.our-mission_top_img {
  object-fit: cover;
  width: 120%;
  max-width: none;
  height: 100%;
}

.social-impact {
  width: 100%;
  height: 68.75em;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
}

.social-impact_bottom {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  display: grid;
}

.social-impact_bottom_column {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.social-impact_bottom_column.is-bottom {
  justify-content: flex-start;
  align-items: flex-end;
}

.social-impact_top {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: space-between;
  display: flex;
  position: absolute;
  inset: 0% 2em;
}

.social-impact_mask, .social-impact_mask.is-2 {
  width: 28em;
}

.social-impact_img-wrap {
  flex: 1;
  overflow: hidden;
}

.social-impact_img_img {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  inset: 0%;
  -webkit-mask: url('../images/');
  mask: url('../images/');
  -webkit-mask-box-image: url('../images/');
  mask-border: url('../images/');
}

.navbar {
  z-index: 999;
  pointer-events: none;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.5em;
  padding-left: 2em;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.corporate-content {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.corporate-cards {
  position: relative;
}

.corporate-cards_card {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  background-color: var(--white);
  flex-flow: column;
  padding: 1em;
  display: flex;
}

.corporate-cards_card.is-2 {
  top: 12em;
}

.corporate-cards_card.is-3 {
  top: 14em;
}

.corporate-cards_card.is-4 {
  top: 16em;
}

.corporate-cards_card.is-5 {
  top: 18em;
}

.corporate-card_title {
  padding: 1em;
}

.is-bold {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
}

.corporate-card_p {
  text-align: center;
  padding-left: 3.125em;
  padding-right: 3.125em;
  font-size: 1em;
}

.is-small {
  font-size: 1em;
}

.corporate {
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 2em;
}

.corporate-sticky-wrap {
  height: 100svh;
  position: sticky;
  top: 0;
}

.is-lh-90 {
  line-height: .9;
}

.comitment-card {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--off-white);
  width: 100%;
  height: calc(100vh - 12em);
  position: sticky;
  top: 12em;
}

.comitment-card.is-2 {
  background-color: #708b94;
  width: calc(100% - 2em);
  height: calc(100vh - 15em);
  top: 15em;
}

.comitment-card.is-3 {
  background-color: #607a82;
  width: calc(100% - 4em);
  height: calc(100vh - 18em);
  top: 18em;
}

.comitment-card.is-4 {
  background-color: #4c6269;
  width: calc(100% - 6em);
  height: calc(100vh - 21em);
  top: 21em;
}

.comitment-card.is-5 {
  background-color: #41545a;
  width: calc(100% - 8em);
  height: calc(100vh - 24em);
  top: 24em;
}

.commitment-card_content {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding: 2em 2em 12em;
  display: grid;
}

.commitment-title {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.commitment-title_index {
  letter-spacing: -.006em;
  font-size: 3em;
  line-height: .9;
}

.commitment-list {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.commitment-list_item {
  border-top: 1px solid var(--off-white);
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.is-centered {
  text-align: center;
}

.our-people_content_center {
  aspect-ratio: 600 / 802;
  position: relative;
}

.our-people_image-1 {
  aspect-ratio: 600 / 802;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
}

.our-people_image-2, .our-people_image-3, .our-people_image-4 {
  z-index: 2;
  aspect-ratio: 600 / 802;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%)scale(0);
}

.careers {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  display: grid;
}

.careers-inner {
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
}

.is-careers-p {
  text-align: center;
}

.careers-p {
  width: 35.25em;
}

.careers-circle {
  z-index: 2;
  pointer-events: none;
  position: absolute;
  inset: 0%;
}

.careers-circle_circle {
  width: 100%;
  height: 100%;
}

.careers-circle_circle.count-12 {
  position: relative;
}

.circle-img {
  width: 6.25em;
  height: 8.75em;
}

.our-offer {
  padding-left: 2em;
  padding-right: 2em;
}

.our-offer_inner {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  border-top: 1px solid var(--black);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-top: 2em;
  display: grid;
}

.our-offer_list {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.our-offer_list-item {
  border-top: 1px solid var(--black);
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.contact {
  justify-content: center;
  align-items: center;
  padding-top: 20.625em;
  padding-bottom: 20.625em;
  display: flex;
}

.contact-link {
  font-size: 3.5em;
  text-decoration: underline;
}

.transition {
  z-index: 900;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  display: none;
  position: fixed;
  inset: 0%;
  overflow: hidden;
}

.transition__inner {
  width: 22.75em;
  height: 0%;
}

.transition__inner__img {
  object-fit: cover;
  max-width: none;
  height: 100%;
  display: none;
}

.menu {
  z-index: 999;
  width: 0%;
  height: 100svh;
  display: none;
  position: fixed;
  inset: 0% auto auto 0%;
  overflow: clip;
}

.menu__inner {
  background-color: var(--steel);
  color: var(--off-white);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: 100svh;
  padding-top: 1.5em;
  padding-bottom: 2em;
  padding-left: 2em;
  display: flex;
}

.mobile-nav {
  grid-column-gap: 1.688em;
  grid-row-gap: 1.688em;
  pointer-events: auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  align-items: stretch;
  display: flex;
}

.menu__inner__top {
  background-color: var(--steel);
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.inner__nav__list {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  flex-flow: column;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
}

.nav__mobile__link {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 800;
  line-height: .9;
  text-decoration: none;
}

.menu__inner__infos {
  opacity: .6;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1em;
  line-height: 1.4;
  display: flex;
}

.menu__inner__socials {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  opacity: .6;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 1.5em;
  font-size: 1em;
  line-height: 1.4;
  display: flex;
}

.social-link {
  grid-column-gap: .8em;
  grid-row-gap: .8em;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  display: flex;
}

.nav__list__item {
  justify-content: flex-end;
  align-items: center;
  height: 1.5em;
  list-style-type: none;
  display: flex;
}

.nav__list__item.is-menu {
  display: none;
}

.about-carousel_mobile {
  height: 200svh;
  display: none;
  overflow-x: clip;
}

.about-wrap_carousel {
  width: 100%;
  height: 100svh;
  position: sticky;
  top: 0;
}

.about_inner_mobile {
  background-color: var(--off-white);
  height: 100%;
  position: relative;
}

.about-item_mobile {
  width: 7.93em;
  height: 11.188em;
  position: absolute;
  overflow: clip;
}

.about-item_mobile.is-1 {
  top: 79%;
  left: -6%;
}

.about-item_mobile.is-2 {
  position: absolute;
  top: 30%;
  left: 4%;
}

.about-item_mobile.is-3 {
  top: -8%;
  left: 19%;
}

.about-item_mobile.is-4 {
  top: 66%;
  left: 20.25%;
}

.about-item_mobile.is-5 {
  top: 31%;
  left: 35%;
}

.about-item_mobile.is-6 {
  top: 86%;
  left: 48.5%;
}

.about-item_mobile.is-7 {
  top: -4%;
  left: 50%;
}

.about-item_mobile.is-8 {
  top: 54%;
  left: 71%;
}

.about-item_mobile.is-9 {
  top: 16%;
  left: 87.5%;
}

.about-item_mobile.is-10 {
  top: 70%;
  left: 89%;
}

.about-item_mobile.is-11 {
  top: 41%;
  left: 110%;
}

.about-item_mobile.is-12 {
  top: 10%;
  left: 130%;
}

.about-item_mobile.is-13 {
  top: 74%;
  left: 135%;
}

.about-item_mobile.is-14 {
  top: 31%;
  left: 151%;
}

.about-item_mobile.is-15 {
  top: -8%;
  left: 157%;
}

.about-item_mobile.is-16 {
  top: 86%;
  left: 170%;
}

.about-item_mobile.is-17 {
  top: 20%;
  left: 183%;
}

.about-item_mobile.is-18 {
  top: 60%;
  left: 200%;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  .nav_list_item {
    display: none;
  }

  .nav_list_item.is-menu {
    display: flex;
  }

  .grid {
    grid-column-gap: 1em;
    grid-row-gap: 0em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: none;
  }

  .eyebrows {
    margin-right: 1.25em;
  }

  .eyebrow-sm {
    font-size: .625em;
  }

  .intro_p {
    font-size: 2em;
  }

  .about-carousel {
    display: none;
  }

  .about-item_slider {
    flex-flow: column;
  }

  .grid-about {
    grid-row-gap: 0em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .about_headings {
    height: 6.05em;
  }

  .about-heading {
    font-size: 5em;
  }

  .footer-p {
    font-size: .75em;
  }

  .is-eyebrow {
    padding: .1em .2em;
  }

  .footer_left {
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
  }

  .social-logo {
    width: 1.8em;
  }

  .footer-bottom {
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .footer_logo {
    width: 7em;
  }

  .eyebrow-s {
    font-size: .5em;
  }

  .footer {
    grid-column-gap: 10em;
    grid-row-gap: 10em;
  }

  .footer-inner {
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
  }

  .sticky-mask {
    height: 1.099em;
  }

  .menu__inner {
    padding-top: 1.5em;
    padding-left: 2em;
  }

  .nav__list__item.is-menu {
    display: flex;
  }

  .about-carousel_mobile {
    display: block;
  }

  .about-wrap_carousel {
    height: 200svh;
  }

  .about-item_mobile {
    width: 5.5em;
    height: 7.75em;
  }

  .about-item_mobile.is-3 {
    top: -4%;
  }

  .about-item_mobile.is-4 {
    top: 50%;
  }

  .about-item_mobile.is-5 {
    top: 18%;
  }

  .about-item_mobile.is-7 {
    top: 0%;
    left: 70%;
  }

  .about-item_mobile.is-8 {
    top: 42%;
  }

  .about-item_mobile.is-10 {
    top: 62%;
  }

  .about-item_mobile.is-11 {
    top: 70%;
    left: 47%;
  }

  .about-item_mobile.is-12 {
    top: 90%;
    left: 30%;
  }

  .about-item_mobile.is-13 {
    top: 87%;
    left: 80%;
  }

  .about_heading-wrap {
    pointer-events: none;
    mix-blend-mode: difference;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
    position: sticky;
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    grid-column-gap: .7em;
    grid-row-gap: .7em;
  }

  .nav_list {
    grid-column-gap: 0em;
    grid-row-gap: 0em;
  }

  .section.section_certification {
    padding: 1em;
  }

  .navlink_label {
    font-size: 1em;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 1em;
    padding-right: 1em;
  }

  .hero_content {
    padding-left: 1em;
    padding-right: 1em;
  }

  .intro {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .grid-about {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 1em;
    padding-right: 1em;
  }

  .footer_left {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer_right {
    grid-column-gap: 1em;
    grid-row-gap: 3em;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .footer {
    grid-column-gap: 6em;
    grid-row-gap: 6em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .footer-link {
    height: 1.375em;
  }

  .footer-inner {
    grid-column-gap: 1em;
    grid-row-gap: 6em;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    width: 100%;
  }

  .navbar {
    padding-top: 1em;
    padding-left: 1em;
  }

  .menu__inner {
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    display: flex;
  }

  .mobile-nav {
    grid-column-gap: .7em;
    grid-row-gap: .7em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 3.5em;
  }

  .grid-12 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .eyebrow {
    font-size: 1em;
  }

  .eyebrows {
    margin-right: 1em;
  }

  .about_headings {
    height: 2.45em;
  }

  .about-heading {
    font-size: 2em;
  }
}

#w-node-_2053adf3-be1c-653b-5a24-439b5379eb0e-c038b157 {
  grid-area: span 1 / span 10 / span 1 / span 10;
}

#w-node-a64e248e-01b3-b59c-7911-4ab07362f7fc-c038b157 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_4ca02206-341f-dc3d-87f3-497abf268343-c038b157 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_1515b717-7f72-e47b-31c9-61ee3b47c73d-c038b157 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: end;
}

#w-node-a58f175a-5505-a419-5d45-799cdfed42e6-c038b157, #w-node-_2f54f5a9-19bf-591c-6a58-9c1c5a09958d-c038b157 {
  grid-area: span 1 / span 11 / span 1 / span 11;
}

#w-node-_030e86bb-d256-45e1-287d-d4b7a04b992a-c038b157 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_52924650-dd08-4752-16bb-4cf4a583b75b-c038b157, #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-c038b157 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301da-c038b157 {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

#w-node-_2053adf3-be1c-653b-5a24-439b5379eb0e-99859e21 {
  grid-area: span 1 / span 10 / span 1 / span 10;
}

#w-node-a64e248e-01b3-b59c-7911-4ab07362f7fc-99859e21 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_4ca02206-341f-dc3d-87f3-497abf268343-99859e21 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_1515b717-7f72-e47b-31c9-61ee3b47c73d-99859e21 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: end;
}

#w-node-_2f54f5a9-19bf-591c-6a58-9c1c5a09958d-99859e21 {
  grid-area: span 1 / span 10 / span 1 / span 10;
}

#w-node-_030e86bb-d256-45e1-287d-d4b7a04b992a-99859e21 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_52924650-dd08-4752-16bb-4cf4a583b75b-99859e21 {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-_29727481-f7b9-3dd5-85d1-227535ebac58-99859e21 {
  grid-area: span 1 / span 11 / span 1 / span 11;
}

#w-node-_9518eca5-0d2b-17c2-8ba5-5df803045c75-99859e21 {
  grid-area: 2 / 7 / 3 / 13;
}

#w-node-e1e9461a-58dd-6e0b-4fe3-118b29aeaf00-99859e21 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-dadde0ba-0350-f99e-c2e9-ac2a5289441b-99859e21 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_7ca69e4a-4056-e749-4072-a54be8043731-99859e21 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-99859e21 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301da-99859e21 {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

#w-node-_2053adf3-be1c-653b-5a24-439b5379eb0e-7460b959 {
  grid-area: span 1 / span 10 / span 1 / span 10;
}

#w-node-a64e248e-01b3-b59c-7911-4ab07362f7fc-7460b959 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_4ca02206-341f-dc3d-87f3-497abf268343-7460b959 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_1515b717-7f72-e47b-31c9-61ee3b47c73d-7460b959 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: end;
}

#w-node-_0490252d-fc9d-475c-2f7a-55c8d34339fe-7460b959, #w-node-_9c25c110-36f5-d7aa-08f7-ca9f91ba77db-7460b959, #w-node-_8055ee5f-ebd9-cc56-55f5-f3551eeb4d34-7460b959 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-f3a15dcc-4521-a45f-e47d-a5ed0d8b60d1-7460b959 {
  grid-area: 1 / 5 / 2 / 9;
}

#w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-7460b959 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301da-7460b959 {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

#w-node-_2053adf3-be1c-653b-5a24-439b5379eb0e-cad56840 {
  grid-area: span 1 / span 10 / span 1 / span 10;
}

#w-node-a64e248e-01b3-b59c-7911-4ab07362f7fc-cad56840 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_4ca02206-341f-dc3d-87f3-497abf268343-cad56840 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_1515b717-7f72-e47b-31c9-61ee3b47c73d-cad56840 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: end;
}

#w-node-_61166a3c-9307-da1f-b2b7-7914508acff4-cad56840 {
  grid-area: span 1 / span 11 / span 1 / span 11;
}

#w-node-_49ed1ffc-f033-52cc-bf77-8381d0066f48-cad56840 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_3911d3b1-69d1-b539-14ce-42063281083d-cad56840 {
  grid-area: 1 / 9 / 2 / 13;
}

#w-node-_62d9013b-8188-b234-4f52-cbf0c40e7d72-cad56840 {
  grid-area: span 1 / span 10 / span 1 / span 10;
}

#w-node-_3f1c1c6b-7d7b-3aa5-f9e0-6d6931dd7bf8-cad56840 {
  grid-area: span 1 / span 9 / span 1 / span 9;
}

#w-node-b6f53f2d-98c2-41ba-a4d5-49219a0ac336-cad56840, #w-node-a6041b76-59d8-0621-5aea-10aabc196668-cad56840, #w-node-_0a811e16-b46f-d4d5-8985-3019f2cda350-cad56840, #w-node-_0a811e16-b46f-d4d5-8985-3019f2cda355-cad56840, #w-node-c22ef211-d6a6-8f8d-2af2-4ab8321f89c4-cad56840, #w-node-c22ef211-d6a6-8f8d-2af2-4ab8321f89c9-cad56840, #w-node-_1f26beaf-4351-db78-dbee-27aa6dc31313-cad56840, #w-node-_1f26beaf-4351-db78-dbee-27aa6dc31318-cad56840, #w-node-_8d945c1a-70e9-f46c-1b41-ea12bc0454ad-cad56840, #w-node-_8d945c1a-70e9-f46c-1b41-ea12bc0454b2-cad56840 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_84fd53b6-91d2-8d5b-cb99-71380587c875-cad56840, #w-node-_84fd53b6-91d2-8d5b-cb99-71380587c878-cad56840, #w-node-_84fd53b6-91d2-8d5b-cb99-71380587c87d-cad56840, #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-cad56840 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301da-cad56840 {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

#w-node-_2053adf3-be1c-653b-5a24-439b5379eb0e-f8e6f411 {
  grid-area: span 1 / span 10 / span 1 / span 10;
}

#w-node-a64e248e-01b3-b59c-7911-4ab07362f7fc-f8e6f411 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_4ca02206-341f-dc3d-87f3-497abf268343-f8e6f411 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_1515b717-7f72-e47b-31c9-61ee3b47c73d-f8e6f411 {
  grid-area: span 1 / span 2 / span 1 / span 2;
  justify-self: end;
}

#w-node-_61166a3c-9307-da1f-b2b7-7914508acff4-f8e6f411 {
  grid-area: span 1 / span 11 / span 1 / span 11;
}

#w-node-_210787b0-34d1-ca25-3bf7-4838302101df-f8e6f411 {
  grid-area: 1 / 2 / 2 / 12;
}

#w-node-_936db929-f484-5e22-7c07-c1023f76ebc1-f8e6f411 {
  grid-area: span 1 / span 11 / span 1 / span 11;
}

#w-node-_58bad1f7-1fb9-8a56-13ee-8376f7017b02-f8e6f411, #w-node-_41e46041-3ade-63a7-092b-b7d8b992e395-f8e6f411 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_02adf0d0-e812-ec15-dc46-803fcfddff0f-f8e6f411 {
  grid-area: span 1 / span 11 / span 1 / span 11;
}

#w-node-_02adf0d0-e812-ec15-dc46-803fcfddff19-f8e6f411, #w-node-_02adf0d0-e812-ec15-dc46-803fcfddff1b-f8e6f411 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_7e9e91f0-b69a-b384-e1ac-28fb3cbb705f-f8e6f411 {
  grid-area: span 1 / span 10 / span 1 / span 10;
}

#w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-f8e6f411 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301da-f8e6f411 {
  grid-area: span 1 / span 8 / span 1 / span 8;
}

@media screen and (max-width: 991px) {
  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-c038b157 {
    grid-column: span 8 / span 8;
  }

  #w-node-e1e9461a-58dd-6e0b-4fe3-118b29aeaf00-99859e21 {
    grid-column: span 2 / span 2;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-99859e21, #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-7460b959, #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-cad56840, #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-f8e6f411 {
    grid-column: span 8 / span 8;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-c038b157 {
    grid-area: span 1 / span 8 / span 1 / span 8;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301da-c038b157 {
    grid-column: span 8 / span 8;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301db-c038b157 {
    grid-area: span 3 / span 1 / span 3 / span 1;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301f8-c038b157 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-99859e21 {
    grid-area: span 1 / span 8 / span 1 / span 8;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301da-99859e21 {
    grid-column: span 8 / span 8;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301db-99859e21 {
    grid-area: span 3 / span 1 / span 3 / span 1;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301f8-99859e21 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-7460b959 {
    grid-area: span 1 / span 8 / span 1 / span 8;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301da-7460b959 {
    grid-column: span 8 / span 8;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301db-7460b959 {
    grid-area: span 3 / span 1 / span 3 / span 1;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301f8-7460b959 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-cad56840 {
    grid-area: span 1 / span 8 / span 1 / span 8;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301da-cad56840 {
    grid-column: span 8 / span 8;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301db-cad56840 {
    grid-area: span 3 / span 1 / span 3 / span 1;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301f8-cad56840 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301c1-f8e6f411 {
    grid-area: span 1 / span 8 / span 1 / span 8;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301da-f8e6f411 {
    grid-column: span 8 / span 8;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301db-f8e6f411 {
    grid-area: span 3 / span 1 / span 3 / span 1;
  }

  #w-node-_920a203a-7716-8b7f-f6b8-ef9e9ae301f8-f8e6f411 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_2053adf3-be1c-653b-5a24-439b5379eb0e-c038b157 {
    grid-column: span 4 / span 4;
  }

  #w-node-a64e248e-01b3-b59c-7911-4ab07362f7fc-c038b157, #w-node-_4ca02206-341f-dc3d-87f3-497abf268343-c038b157 {
    grid-column: span 2 / span 2;
  }

  #w-node-a58f175a-5505-a419-5d45-799cdfed42e6-c038b157 {
    grid-area: span 1 / span 4 / span 1 / span 4;
  }
}


@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}