.w-webflow-badge {
  display: none !important;
}

.about-item {
  width: 0;
}

.about-img_big {
  /* height: 150%; */
  height: 100%;
}

/* Positionnement du next-btn_img derrière le next-btn */
.next-btn_img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.next-btn_img-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.next-btn_img-img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.companies_item .item-eyebrow{
  transition: opacity 1.2s cubic-bezier(0.57, 0.01, 0, 1);
}

.companies_item:hover .item-eyebrow {
  opacity: 1;
}

/* Separator hover animation */
.separator.is-2 {
  width: 0%;
  transition: width 1.2s cubic-bezier(0.57, 0.01, 0, 1);
}

.companies_item:hover .separator.is-2 {
  width: 100%;
}
